        
        body {
            font-family: Arial, sans-serif;
        }
        .list-group{
            margin-left:120px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .list-group-item ,.text{
            margin-bottom: 10px;
            background-color: #e2dfdf;
        } 
        #exam-header{
            
            background-color: #e3342f;
            display: flex;
            text-align: center;
            position: sticky;
            width: 100%;
            top:0;
            left:0;
            right:0;
            z-index: 2;
        }
        .home-icon{
            color:#fff;
            width: 160px;
            padding-left: 20px;
            padding-right:10px;
            display: flex;
        }
        .home-icon:hover{
            cursor: pointer;
        }
        .home-icon >i{
            color:#fff;
            padding-right: 5px;
            line-height:48px;
            font-style: normal;
        }
       

        .submit-section{
            text-align: center;
            padding:10px;
        }
        input[type=text]{
            width: 100%;
            margin-bottom: 10px;
        }

        input[type=button], input[type=submit]{
            color: #FFFFFF;
            font-size: 20px;
            font-weight: bold;
            padding: 12px 45px;
        }   